<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link rel="stylesheet" media="screen and (max-width:1440px)" href="/css/SearchPage/SearchPage_1440.css">
    <link rel="stylesheet" media="screen and (min-width:1441px) and (max-width:1920px)" href="/css/SearchPage/SearchPage_1920.css">
    <link rel="stylesheet" media="screen and (min-width:1921px) and (max-width:2560px)" href="/css/SearchPage/SearchPage_2560.css">
    <title>H.I. bar - SEARCH</title>
</head>

<body>
    <div class="wrap">
        <div class="header">
            <div class="headerbox1">
                <input type="checkbox" id="menuicon">
                <label for="menuicon">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
                <div class="sidebar">
                    <input type="button" class="side_fun1" value="🧊냉장고 파먹기?"onclick="location='/templates/function1.html'" />
                    <input type="button" class="side_fun2" value="🍸오늘 뭐먹지?"onclick="location='/templates/Today.html'" />
                    <input type="button" class="side_fun3" value="🥴알쓰 드루와" onclick="location='/templates/Lightweight.html'" />
                    <input type="button" class="side_fun4" value="🙌유저 게시판" onclick="location='/templates/Board.html'" />
                </div>
            </div>
            <div class="headerbox">
                <div><button type="button" id="logo_btn" value="logo" onclick="location='/templates/index.html'"><img
                            src="/photo/nav_logo.png" alt="로고"></button></div>
            </div>
            <div class="headerbox">
                <div class="menu1"><input type="button" id="search_btn" value="Search" onclick="'/templates/SearchPage.html'" /></div>
                <div class="menu2"><input type="button" id="login_btn" value="Login" onclick="login_and_logout()" />
                </div>
                <div class="menu3"><input type="button" id="mypage_btn" value="My page" onclick="no_login()" /></div>
            </div>
        </div>
        <div class="container">
            <div class="display_section">
                <div class="Search_Logo">
                    <div class="search_icon"></div>
                    <div class="text">SEARCH</div>
                </div>
                <input type="text" class="Search_Bar" placeholder="EX) 블루 레몬 에이드" required="required">
                <div class="submit"><input type="button" id="search_submit" value="검색" onclick="'#'"/></div>  <!-- 입력받은 키워드를 바탕으로 실행하는 js -->
            </div>
        </div>
        <div class="footer"><img src="/photo/footer.png" alt="배경"></div>
    </div>

    <script src="/js/index.js"></script>
</body>

</html>